.body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: var(--primary-color);
}

.content-sections {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .content-sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}