.generic-section {
  display: none;
}

.section {
  width: 83.46%;
  margin: 0 auto;
}

.avatar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-in {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 500px) {
  .section {
    width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .generic-section {
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
  }
}